fastapi
uvicorn[standard]
streamlit
python-dotenv
pyodbc
groq
openai
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
plotly
joblib
contourpy
cycler
fonttools
kiwisolver
pillow
pyparsing
python-dateutil
shapely
six
threadpoolctl
tzdata
msal
requests
pyadomd
pythonnet
sentence-transformers
faiss-cpu
Microsoft
anthropic