fastapi
uvicorn[standard]
python-dotenv
requests
python-multipart
websockets
streamlit
streamlit-mic-recorder
pillow
sqlalchemy
psycopg2-binary
pyodbc
pandas
pythonnet
msal
openai
groq
anthropic
pipecat-ai[silero,openai]
faster-whisper
soundfile
pydub
numpy
scikit-learn
scipy
joblib
matplotlib
plotly
seaborn
sentence-transformers
faiss-cpu
contourpy
cycler
fonttools
kiwisolver
pyparsing
python-dateutil
shapely
six
threadpoolctl
tzdata
ctranslate2
tokenizers
onnxruntime
pydantic-settings

# python -m uvicorn backend.app.main:app --reload --host 0.0.0.0 --port 8000
# python -m streamlit run frontend/app.py
# npm run dev